.contenedor__login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google__inicio{
    border-radius: 5px;
    border-style: none;
    background-color:  #FFE031;
    padding: 5px;
    margin: 5px;
    }