.card__superior__contenedor{
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}


.card__superior{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(253, 251, 249);
    border-radius: 10px;
    padding: 5px;
}
.card__inferior{
    display: flex;
    width: 100%;
    
}
.card__super__inferior{
    display: flex;
    gap: 10px;
    margin: 10px;
}
.logo__restaurante{
    width: 15%;
    border-radius: 70%;
    margin-left: 40%;
}
.producto__restaurante{
    width:200px;
    border-radius: 30px;
border-top-left-radius: 0;
}
.imagen__producto{
    width: 30%;
    border-radius: 5px;
}
.main__productos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 50%;
    gap: 20px;
}